<div class="row" ng-controller="ApproverEmailCtrl" ng-init="init()">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <h5 class="row-title themeprimary"><i class="fa fa-gears"></i> Notification Rules</h5>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">First Level Approval Notification Rules</span>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themeprimary bordered-themeprimary" ng-click="addNewConfiguration()"><i class="fa fa-plus-square"></i>Add New Rule</button>
                        </div>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themesecondary bordered-themesecondary" ng-click="refresh()" ladda="loading" data-style="zoom-in" data-spinner-color="#FF0000"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="widget-body overflow">
                        <table id="emailList" class="table table-sorting table-hover table-bordered datatable dt-rows" cellspacing="0 " width="100% ">
                            <thead>
                                <tr>
                                    <th>Approval Type</th>
                                    <th>Requesting Role</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Approval Type</th>
                                    <th>Requesting Role</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <span class="widget-caption">Second Level Approval Notification Rules</span>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themeprimary bordered-themeprimary" ng-click="addNewSLConfiguration()"><i class="fa fa-plus-square"></i>Add New Approver</button>
                        </div>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themesecondary bordered-themesecondary" ng-click="refreshSL()" ladda="loading" data-style="zoom-in" data-spinner-color="#FF0000"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                    <div class="widget-body overflow">
                        <table id="slEmailList" class="table table-sorting table-hover table-bordered datatable dt-rows" cellspacing="0 " width="100% ">
                            <thead>
                                <tr>
                                    <th>Approver Role</th>
                                    <th></th>
                                </tr>
                            </thead>

                            <tfoot>
                                <tr>
                                    <th>Approver Role</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>