<div class="row" ng-controller="ChangePasswordCtrl">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <h5 class="row-title themeprimary"><i class="fa fa-edit"></i> Change Password</h5>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <div class="widget-buttons">
                            <a href="" widget-maximize></a>
                            <a href="" widget-collapse></a>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="passwordForm" ng-submit="change()" novalidate>

                                <!-- NEW PASSWORD -->
                                <div class="form-group" ng-class="{ 'has-error' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }">
                                    <label>New Password*</label>
                                    <input type="password" name="newPassword" class="form-control" ng-model="newPassword" placeholder="New Password" required>
                                </div>

                                <!-- NEW PASSWORD -->
                                <div class="form-group" ng-class="{ 'has-error' : passwordForm.confirmPassword.$invalid && !passwordForm.confirmPassword.$pristine }">
                                    <label>Confirm Password*</label>
                                    <input type="password" name="confirmPassword" class="form-control" ng-model="confirmPassword" placeholder="Confirm Password" required>
                                </div>

                                <button type="submit" ng-disabled="!passwordForm.$valid" class="btn btn-default themeprimary bordered-themeprimary" ladda="loading" data-style="zoom-in" data-spinner-color="#FF0000"><i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>