<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="login-container animated fadeInDown" ng-controller="ForgotPasswordCtrl">
    <div class="loginbox bg-white">
        <div class="login-header-text text-success"><i class="fa fa-user"></i> RETRIEVE PASSWORD</div>

        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">&nbsp;</div>
        </div>
        <form name="passwordForm" ng-submit="retrieve()" novalidate>
            <div class="loginbox-textbox" ng-class="{ 'has-error' : passwordForm.username.$invalid && !passwordForm.username.$pristine }">
                <input type="text" class="form-control" name="username" placeholder="Username" ng-model="username" required autofocus autocomplete="off" />
            </div>
            <div class="loginbox-forgot">
                <a ui-sref="login"><i class="fa fa-toggle-left"></i> Back to Login</a>
            </div>
            <div class="loginbox-submit">
                <button type="submit" ng-disabled="!passwordForm.$valid" class="btn btn-primary btn-block" ladda="loading" data-style="expand-left">retrieve</button>
            </div>
        </form>
    </div>
    <div class="logobox">
        <em class="login-footer-text text-success"><i class="glyphicon glyphicon-cloud"></i> WiseOne V1.0.</em>
    </div>
</div>