<toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
<div class="login-container animated fadeInDown" ng-controller="ResetPasswordCtrl" ng-init="init()">
    <div class="loginbox bg-white">
        <div class="login-header-text text-success"><i class="fa fa-user"></i> RESET PASSWORD</div>

        <div class="loginbox-or">
            <div class="or-line"></div>
            <div class="or">&nbsp;</div>
        </div>
        <form name="passwordForm" ng-submit="resetPassword()" novalidate>

            <div class="loginbox-textbox" ng-class="{ 'has-error' : passwordForm.newPassword.$invalid && !passwordForm.newPassword.$pristine }">
                <input type="password" class="form-control" name="newPassword" placeholder="New Password" ng-model="newPassword" required autofocus autocomplete="off" />
            </div>

            <div class="loginbox-textbox" ng-class="{ 'has-error' : passwordForm.confirmPassword.$invalid && !passwordForm.confirmPassword.$pristine }">
                <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" ng-model="confirmPassword" required autocomplete="off" />
            </div>

            <div class="loginbox-forgot">
                <a ui-sref="login"><i class="fa fa-share-square-o"></i> To Login</a>
            </div>

            <div class="loginbox-submit">
                <button type="submit" ng-disabled="!passwordForm.$valid" class="btn btn-primary btn-block" ladda="loading" data-style="expand-left">Reset</button>
            </div>
        </form>
    </div>
    <div class="logobox">
        <em class="login-footer-text text-success"><i class="glyphicon glyphicon-cloud"></i> WiseOne V1.0.</em>
    </div>
</div>