<div class="row" ng-controller="LeaveDetailCtrl" ng-init="init()">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <h5 class="row-title themeprimary"><i class="fa fa-pencil-square-o"></i> {{edit == true ? 'Update Leave Calender' : 'Leave Calender Detail'}}</h5>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <div class="widget-buttons">
                            <a href="" widget-maximize></a>
                            <a href="" widget-collapse></a>
                        </div>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themesecondary bordered-themesecondary" ng-click="goBack()"><i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                    </div>
                    <div class="widget-body" ng-show="{{edit}}">
                        <div id="horizontal-form">
                            <form name="leaveCalenderForm" ng-submit="save()" novalidate>

                                <div class="form-group">
                                    <label><b>Start Date:</b> {{financialYear.StartDate}}</label>
                                </div>

                                <div class="form-group">
                                    <label><b>End Date:</b> {{financialYear.EndDate}}</label>
                                </div>

                                <div class="form-group">
                                    <label><b>Location:</b> {{financialYear.Location.Name}}</label>
                                </div>

                                <!-- Prior Notice -->
                                <div class="form-group " ng-class="{ 'has-error' : leaveCalenderForm.priorNotice.$invalid && !leaveCalenderForm.priorNotice.$pristine } ">
                                    <label>Prior Notice of Leave (Number of Weeks)*</label>
                                    <input type="number" class="form-control" ng-model="financialYear.LeavePriorNotice" placeholder="Prior Notice of Leave">
                                </div>

                                <div class="form-group">
                                    <label><b>Exclude Months:</b> {{financialYear.ExcludeMonthsDetails}}</label>
                                </div>

                                <div class="form-group">
                                    <label><b>Bank Holidays:</b></label>
                                    <span ng-if="!bankHolidays.length">
                                        No bank holidays configured.
                                    </span>
                                    <ul ng-if="bankHolidays.length" ng-repeat="day in bankHolidays">
                                        <li>{{day}}</li>
                                    </ul>
                                </div>

                                <button type="submit" ng-disabled="!leaveCalenderForm.$valid" class="btn btn-default themeprimary bordered-themeprimary" ladda="loading" data-style="zoom-in" data-spinner-color="#FF0000"><i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widget-body" ng-hide="{{edit}}">
                        <wizard indicators-position="top" edit-mode="true">
                            <wz-step wz-title="Leave Global Configuration">
                                <div id="horizontal-form">
                                    <form>
                                        <div class="form-group">
                                            &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label><b>Start Date:</b> {{financialYear.StartDate}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>End Date:</b> {{financialYear.EndDate}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Location:</b> {{financialYear.Location.Name}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Prior Notice of Leave (Number of Weeks):</b> {{financialYear.LeavePriorNotice}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Exclude Months:</b> {{financialYear.ExcludeMonthsDetails}}</label>
                                        </div>
                                        <div class="form-group">
                                            <label><b>Bank Holidays:</b></label>
                                            <span ng-if="!bankHolidays.length">
                                                No bank holidays configured.
                                            </span>
                                            <ul ng-if="bankHolidays.length" ng-repeat="day in bankHolidays">
                                                <li>{{day}}</li>
                                            </ul>
                                        </div>
                                        <button type="button" class="btn btn-default themeprimary bordered-themeprimary" wz-next="removeExcludeMonths()">Next <i class="fa fa-angle-right"></i></button>
                                    </form>
                                </div>
                            </wz-step>

                            <wz-step wz-title="Staff Booked Leave Days">
                                <div id="horizontal-form">
                                    <form>
                                        <div class="form-group">
                                            &nbsp;
                                        </div>
                                        <div class="form-group">
                                            <label>Months</label>
                                            <select class="form-control" name="role" ng-options="option.Label for option in financialYear.Months track by option.Label" ng-model="financialYear.selectedMonth">
                                                
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label class="info"><b><i class="fa fa-info-circle"></i> Selected Month:</b> {{financialYear.selectedMonth.Label}}</label>
                                        </div>
                                        <div class="form-group">
                                            <table class="table table-hover table-striped table-bordered table-condensed text-center">
                                                <tbody>
                                                    <tr ng-repeat="day in financialYear.selectedMonth.Days" ng-if="$index%7==0">
                                                        <td class="leaveDay" ng-if="$index <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+1 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+1].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index+1].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+1].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+1].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+2 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+2].Name}}</p>
                                                            <p> {{financialYear.selectedMonth.Days[$index+2].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+2].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+2].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+3 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+3].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index+3].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+3].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+3].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+4 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+4].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index+4].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+4].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+4].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+5 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+5].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index+5].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+5].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+5].BankHoliday">BH</p>
                                                        </td>
                                                        <td class="leaveDay" ng-if="$index+6 <  financialYear.selectedMonth.Days.length">
                                                            <p class="blue">{{financialYear.selectedMonth.Days[$index+6].Name}}</p>
                                                            <p>{{financialYear.selectedMonth.Days[$index+6].Day}}</p>
                                                            <div ng-repeat="staff in financialYear.selectedMonth.Days[$index+6].Staff">
                                                                <span><i class="fa fa-user"></i> {{staff.StaffKnownAs}}</span>
                                                            </div>
                                                            <p ng-show="financialYear.selectedMonth.Days[$index+6].BankHoliday">BH</p>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <button type="button" class="btn btn-default themesecondary bordered-themesecondary" wz-previous><i class="fa fa-angle-left"></i> Previous</button>
                                    </form>
                                </div>
                            </wz-step>

                        </wizard>
                        <br>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>