<div class="row" ng-controller="LocationDetailCtrl" ng-init="init()">
    <toaster-container toaster-options="{'position-class': 'toast-bottom-right', 'close-button':true}"></toaster-container>
    <div class="col-lg-12 col-sm-12 col-xs-12">
        <h5 class="row-title themeprimary"><i class="fa fa-pencil-square-o"></i> {{edit == true ? 'Update Location' : 'Location Detail'}}</h5>
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-xs-12">
                <div class="widget">
                    <div class="widget-header bordered-top bordered-themeprimary">
                        <div class="widget-buttons">
                            <a href="" widget-maximize></a>
                            <a href="" widget-collapse></a>
                        </div>
                        <div class="widget-buttons buttons-bordered">
                            <button class="btn themesecondary bordered-themesecondary" ng-click="goBack()"><i class="fa fa-arrow-circle-left"></i></button>
                        </div>
                    </div>
                    <div class="widget-body">
                        <div id="horizontal-form">
                            <form name="locationForm" ng-submit="save()" novalidate>

                                <!-- NAME -->
                                <div class="form-group" ng-class="{ 'has-error' : locationForm.name.$invalid && !locationForm.name.$pristine }">
                                    <label>Name*</label>
                                    <input type="text" name="name" class="form-control" ng-model="location.Name" placeholder="Name" required capitalize>
                                </div>

                                <!-- LATITUDE -->
                                <div class="form-group" ng-class="{ 'has-error' : locationForm.latitude.$invalid && !locationForm.latitude.$pristine }">
                                    <label>Latitude*</label>
                                    <input type="number" step="any" name="latitude" class="form-control" ng-model="location.Latitude" placeholder="Latitude" required>
                                </div>

                                <!-- LONGITUDE -->
                                <div class="form-group" ng-class="{ 'has-error' : locationForm.longitude.$invalid && !locationForm.longitude.$pristine }">
                                    <label>Longitude*</label>
                                    <input type="number" step="any" name="longitude" class="form-control" ng-model="location.Longitude" placeholder="Longitude" required>
                                </div>

                                <!-- HEAD OFFICE -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="location.HeadOffice">
                                            <span class="text">Head Office?</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- OPERATIONS OFFICE -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" ng-model="location.OperationOffice">
                                            <span class="text">Operations Director's Office?</span>
                                        </label>
                                    </div>
                                </div>

                                <!-- ADDRESS -->
                                <div class="form-group" ng-class="{ 'has-error' : locationForm.address.$invalid && !locationForm.address.$pristine }">
                                    <label>Address*</label>
                                    <input type="text" name="address" class="form-control" ng-model="location.Address" placeholder="Address" required capitalize>
                                </div>

                                <button type="submit" ng-disabled="!locationForm.$valid" ng-show="{{edit}}" class="btn btn-default themeprimary bordered-themeprimary" ladda="loading" data-style="zoom-in" data-spinner-color="#FF0000"><i class="fa fa-save"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>